<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213239061541-5072nudrlf2dpu7qdlvaub2vuvjg4m4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213239061541-5072nudrlf2dpu7qdlvaub2vuvjg4m4f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>213239061541-f5m00gilakmtt6lfea2qknik2ksc6nn4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYdK63Qc5pAhuFLnLXMA3UGlOLs2rjHCM</string>
	<key>GCM_SENDER_ID</key>
	<string>213239061541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pnvanh.Inta</string>
	<key>PROJECT_ID</key>
	<string>hihi-1541495393612</string>
	<key>STORAGE_BUCKET</key>
	<string>hihi-1541495393612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213239061541:ios:2b4d594a1c41eed795b3cc</string>
	<key>DATABASE_URL</key>
	<string>https://hihi-1541495393612.firebaseio.com</string>
</dict>
</plist>